// Default Color
$bg-default: #2f5bea;

// Hover Color
$hover-color: #2f5bea;

// White Color
$white-color: #ffffff;

// Gray Color
$gray-color: #f8f8ff;

// Dark Color
$dark-color: #000000;

// Heading Color
$heading-color: #070a57;

// Text Color
$text-color: #636363;

// Sec Color
$sec-color: #404040;

// Green Color
$bg-green: #4caf50;

// Border Color
$border-color: #ebebeb;

// Yellow Color
$yellow-color: #f1c40f;